form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    background-color: rgba(248, 244, 244, 0.384);
    border: 1px solid rgba(248, 244, 244, 0.384);
    border-radius: 1.1rem; 
    padding: 1rem;
}

button{
    width: 50%;
    margin: 1rem auto .5rem auto;

}

mat-card{
    width: 30%;
    margin: auto auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}