<div class="container">
    <div class="input">
        <mat-form-field class="a" appearance="fill">
            <mat-label>Income (disabled)</mat-label>
            <input matInput disabled value="Income">
            <mat-icon matSuffix class="iconGreen">arrow_upward</mat-icon>
        </mat-form-field>
        <mat-form-field class="b" appearance="fill">
            <mat-label>expenses (disabled)</mat-label>
            <input matInput disabled value="Expenses">
            <mat-icon matSuffix color="warn">arrow_downward</mat-icon>
        </mat-form-field>
    </div>
    <div class="container-card">
        <button mat-flat-button color="primary" class="energy" (click)="energy()">Conta de energia
            <mat-icon matSuffix class="card">electric_bolt</mat-icon>
        </button>
        <button mat-flat-button color="primary" class="water" (click)="water()">Conta de água
            <mat-icon matSuffix class="card">water_drop</mat-icon>
        </button>
        <button mat-flat-button color="primary" class="internet" (click)="internet()">Conta de internet
            <mat-icon matSuffix class="card">language</mat-icon>
        </button>
        <button mat-flat-button color="primary" class="card" (click)="card()">Conta de cartão
            <mat-icon matSuffix class="card">credit_card</mat-icon>
        </button>
        <button mat-flat-button color="primary" class="other">Outras despesas
            <mat-icon matSuffix class="card">shopping_cart</mat-icon>
        </button>
        
    </div> 
</div>
